

body {
    background-color: black;
    text-align: center;
    color: white;
}
#container {
    margin-top: auto;
    margin-bottom: auto;
}
.numberDisplay {
    font-family: 'Consolas', monospace;
    font-size: 6rem;
    display: inline-block;
    width: 16rem; 
    height: 16rem;
    line-height: 16rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 7rem;
    cursor: pointer;
    margin: 2rem;
    border: black 5pt solid;
    user-select: none;
}
#controls {
    font-size: 2rem;
}
#histories {
    font-size: 2rem;
}
.margined-bi {
    margin-left: 0.2em;
    font-size: large;
}
.history-icon {
    font-size: 2rem;
}
.iconButton {
    cursor: pointer;
    margin: 0 auto;
    line-height: 7rem;
    font-size: 1.8em;
}
#histories {
    margin-top: 1rem;
    cursor: pointer;
    width: 80%;
    display: inline-block;
    text-align: left;
}
.numberDisplay.focused {
    border: white 5pt solid;
}
.buttonContainer {
    display: inline-block;
    border-radius: 4em;
    border: white 2pt solid;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 7rem; 
    height: 7rem;
}